{% extends 'layout.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

    <h1 style="text-align: center;">Privacy Policy</h1>
    
    <h2>Introduction</h2>
    <p>TRID Trinomial Technologies Ltd (herein "Trinomial" or "we," "us," or "our") is the controller of the information collected or provided directly. We are committed to ensuring that your privacy is protected. This paragraph explains the privacy notice terms and how we use the information we collect about you, how you can instruct us if you prefer to limit the use of that information and procedures that we have in place to safeguard your privacy.</p>

    <p>If you have any questions about our privacy practices, please refer to the end of this privacy policy for information on how to contact us.</p>

    <p>This privacy policy applies to information we collect:

    directly from you or
    through third parties in the standard course of the business we do in order to provide you with the service you requested.
    </p>

    <h2>Collection of Personal Information</h2>
    <p>We collect and use several types of information the individuals we co-operate with, including information by which you may be personally identified and that is defined as personal data or personally identifiable information under applicable law ("Personal Information"), such as your first and last name, e-mail address, billing information, demographics, telephone number, or other (online) contact information, personal details, CVs, and other contact related information.</p>

    <p>Categories of Personal Information we collect and use on or through our Website include:

    Information that you provide by filling in forms, in particular at the time of first contact with us.
    We also collect Personal Information when you participate in a project managed by us, and when you report a problem with our Website.
    Records and copies of your correspondence (including e-mail addresses), if you contact us.
    Details of transactions you carry out, if any, and of the fulfillment of your orders.
    </p>
    
    <h2>Purposes for Which We Use Your Personal Information</h2>
    <p>In general, we use information that we collect about you or that you provide to us, including Personal Information and Sensitive Personal Information, for following purposes:

    Provision of service: to provide you with information, products or services that you request from us;
    Participation in projects;
    Customer management: to manage your account, to provide you with customer support and with notices about your account, including notices about changes to any products or services we offer or provide through it;
    Advertising: following explicit consent to communicate with you about products or services that may be of interest to you either from us, our affiliates or other third parties;
    Functionality and security: to detect, prevent, and respond to actual or potential fraud, illegal activities, or intellectual property infringement;
    Compliance: to enforce our terms and conditions and to comply with our legal obligations as these derive from the applicable laws or our regulators;
    in any other way we may describe when you provide the information; or for any other purpose with your consent provided separately from this privacy policy.
    </p>

    <h2>Disclosure of Your Personal Information</h2>
    <p>We want you to understand when and to whom we disclose Personal Information and other information we have collected about you or your activities on the Website. We do not share your Personal Information with third parties except as indicated below:

    Affiliates. We share above categories of Personal Information with our subsidiaries and affiliates to the extent this is necessary for the purposes of provision of services, project management, customer management, customization of content, advertising (if you have consented) and security, and compliance, or to the extent you have provided your consent provided separately from this privacy policy.
    Service providers. To our authorized service providers that perform certain services on our behalf, including for purposes of provision of the services you requested from us, customer management and security. These services may include fulfilling orders, processing credit card payments, risk and fraud detection and mitigation, providing customer service and marketing assistance. These service providers may have access to Personal Information needed to perform their functions but are not permitted to share or use such information for any other purposes. We have taken all reasonable steps to ensure that they comply with the current data protection regulations.
    Legal successors. To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution or other sale or transfer of some or all of our assets, whether as a going concern or as part of bankruptcy, liquidation or similar proceeding, in which personal information held by is among the assets transferred. Should such a sale or transfer occur, we will use reasonable efforts to try to ensure that the entity to which we transfer your personal information uses it in a manner that is consistent with this privacy policy.
    Other. To the extent this is necessary to fulfill any other purpose not mentioned above for which you provided Personal Information and, if applicable, your consent separately from this privacy policy.
    </p>

    <p>We also disclose your Personal Information to other third parties, including official authorities, courts, or other public bodies:

    In response to a subpoena or similar investigative demand, a court order or other judicial or administrative order, or a request for cooperation from a law enforcement or other government agency; to establish or exercise our legal rights; to defend against legal claims; to comply with applicable law or cooperate with law enforcement, government or regulatory agencies; or to enforce our Website terms and conditions or other agreements or policies; or as otherwise required by law (including responding to any government or regulatory request). In such cases, we may raise or waive any legal objection or right available to us, in our sole discretion.
    To the extent a disclosure is necessary in connection with efforts to investigate, prevent, report or take other action regarding illegal activity, suspected fraud or other wrongdoing; to protect and defend the rights, property or safety of our company, our users, our employees, or others; to maintain and protect the security and integrity of our Website or infrastructure.
    </p>
    
    <p>Third parties to whom we may disclose Personal Information may have their own privacy policies which describe how they use and protect Personal Information. If you want to learn more about their privacy practices, we encourage you to visit the websites of those third parties.</p>

    <p>We may disclose aggregated information about our users, and information that does not identify any individual, without restriction. In particular, we may transfer non-Personal Information and process it outside your country of residence, wherever the Website, its affiliates and service providers operate. We may combine non-Personal Information we collect with additional non-Personal Information collected from other sources. We also may share aggregated information with third parties, including advisors, advertisers and investors, for the purpose of conducting general business analysis.</p>

    <h2>How We Store Your Personal Information</h2>
    <p>The information that we collect about you, including Personal Information, will be stored and processed in Cyprus and/or in remote cases in the Countries in which we and the third parties mentioned above operate. If you are located in the European Union or other regions with laws governing data collection and use that may differ from European data protection laws, please note that in the course of providing you with the service you requested we may transfer Personal Information to some of these countries and jurisdictions that have data protection laws that do not provide the exact same level of protection as in your jurisdiction, however we make every effort possible to verify and audit that the processor and sub processors provide the best level of protection of personal data.</p>

    <h2>Retention of Personal Information</h2>
    <p>To the extent we have collected your Personal Data for purposes of provision of services, customer management, and customization of content (for descriptions of these purposes see above), we keep your Personal Information for as long as you have an account with the Website, as needed to provide you with our respective services and in compliance with relevant laws of Cyprus. For further information regarding specific retention period please contact us at info@trinomial.xyz.</p>

    <p>Personal Information used for advertising purposes will be stored for a period of 12 months.</p>

    <p>The period for which we keep your Personal Information that is necessary for compliance and legal enforcement purposes varies and depend on the nature of our legal obligations and claims in the individual case.</p>

    <h2>Legal Bases for Collection, Use and Disclosure of Your Personal Information</h2>
    <p>There are different legal bases that we rely on to collect, use and disclose your Personal Information, namely:

    Consent: We will rely on your consent to use (i) your Personal Information for marketing and advertising purposes; and (ii) your Personal Information for other purposes when we ask for your consent separately from this privacy policy and for which the purpose of the process does not relate to the services we offer to you.
    Performance of contract: The use of your Personal Information for purposes of providing the services, customer management and functionality and security as described above is necessary to perform the services provided to you under our term and conditions and any other contract that you have with us.
    Compliance with legal obligation: We are permitted to use your Personal Information in to the extent this is required to comply with a legal obligation to which we are subject.
    </p>
    
    <h2>How We Protect the Security of Your Personal Information</h2>
    <p>We take appropriate security measures (including physical, electronic and procedural measures) to safeguard your Personal Information from unauthorized access and disclosure. Only authorized employees are permitted to access Personal Information, and they may do so only for permitted business functions. In addition we have trained our employees on how to handle, manage and process personal data, applied upgraded technical measures and transformed our policies and procedures in a way that will comply with the General Data Protection Regulation.</p>

    <p>Users should also take care with how they handle and disclose their Personal Information and should avoid sending Personal Information through insecure email. We are not responsible for circumventions of any privacy settings or security measures contained on the Website.</p>

    <h2>Choises About How We Collect, Use and Disclose Your Personal Information</h2>
    <p>We strive to provide you with choices regarding the Personal Information you provide to us:

    You can choose not to provide us with certain Personal Information, but that may result in you being unable to use certain services.
    When you register with us, you may be given a choice as to whether you want to receive email messages, newsletters or advertising material about product updates, improvements, special offers, or containing special distributions of content by us. If consented yet later on you decide you no longer want to receive commercial or promotional emails or newsletters from us, you will need to avail yourself of the unsubscribe mechanism set out in the applicable communication. It may take up to seven days for us to process an opt-out request. We may send you other types of transactional and relationship e-mail communications, such as service announcements, administrative notices, and surveys, without offering you the opportunity to opt out of receiving them as these will related directly to your relationship with us.
    If you provided Personal Information, you may terminate your relationship with us at any time as per the provision of the between us agreement or engagement. If you choose to do so, your Personal Information will be deleted in accordance with our retention policy.
    </p>
    
    <h2>Your Rights Related to Your Personal Information</h2>
    <p>Subject to the provisions of the General Data Protection Regulation (GDPR), you have certain rights regarding the Personal Information we collect, use or disclose and that is related to you, including the right:

    to receive information on the Personal Information concerning we hold about you and how such Personal Information is used (right to access);
    to rectify inaccurate Personal Information concerning you (right to data rectification);
    to delete/erase your Personal Information (right to erasure/deletion, "right to be forgotten");
    to receive the Personal Information provided by you in a structured, commonly used and machine-readable format and to transmit those Personal Information to another data controller (right to data portability);
    to object to the use of your Personal Information where such use is based on our legitimate interests or on public interests (right to object); and
    in some cases, to restrict our use of your Personal Information (right to restriction of processing).
    </p>
    
    <p>If we ask for your consent to use your Personal Information, you can withdraw your consent at any time.</p>

    <p>You may, at any time, send us an e-mail at info@trinomial.xyz to exercise your above rights in accordance with the applicable legal requirements and limitations. If you are located in the European Economic Area, you have a right to lodge a complaint with your local data protection authority.</p>

    <p>Note that some requests to delete certain Personal Information will require the deletion of your user account as the provision of user accounts are inextricable linked to the use of certain Personal Information (e.g., your e-mail address). Also note that it is possible that we require additional information from you in order to verify your authorization to make the request and to honor your request.</p>

    <p>You can delete your User Contributions from the Website as specified in the "Users Contribution" section.</p>

    <h2>Changes to Our Privacy Policy</h2>
    <p>We may modify or revise our privacy policy from time to time. Although we may attempt to notify you when major changes are made to this privacy policy, you are expected to periodically review the most up-to-date version found at our website www.trinomialtechnologies.eu aware of any changes, as they are binding on you.</p>

    <p>If we change anything in our privacy policy, the date of change will be reflected in the "last modified date". You agree that you will periodically review this privacy policy and refresh the page when doing so. You agree to note the date of the last revision to our privacy policy. If the "last modified" date is unchanged from the last time you reviewed our privacy policy, then it is unchanged. On the other hand, if the date has changed, then there have been changes, and you agree to re-review our privacy policy, and you agree to the new ones. By continuing to use the Website and receive information subsequent to us making available an amended version of our privacy policy in a way that you can easily take notice of it, you thereby consent to such amendment.</p>

    <h2>Enforcement; Cooperation</h2>
    <p>We regularly review our compliance with this privacy policy. Please feel free to direct any questions or concerns regarding this privacy policy or our treatment of Personal Information by contacting us through this Website at www.trinomialtechnologies.eu formal written complaint, it is our policy to contact the complaining party regarding his or her concerns. We will cooperate with the appropriate regulatory authorities, including local data protection authorities, to resolve any complaints regarding the collection, use and disclosure of Personal Information that cannot be resolved by an individual and us.</p>

    <h2>No Rights of Third Parties</h2>
    <p>This privacy policy does not create rights enforceable by third parties or require disclosure of any Personal Information relating to users of the Website.</p>

    <h2>No Error Free Performance</h2>
    <p>We do not guarantee error-free performance under this privacy policy. We will use reasonable efforts to comply with this privacy policy and will take prompt corrective action when we learn of any failure to comply with our privacy policy. We shall not be liable for any incidental, consequential or punitive damages relating to this privacy policy.</p>

    <h2>Contact Information</h2>
    <p>If you have any questions about this privacy policy or our information-handling practices, please contact us at info@trinomial.xyz.</p>

    <p>You may also contact us at 131 Georgiou A' str., Lordos Beach Gardens, Block C, Office 14, Germasogia, 4048, Limassol, Cyprus, or call us at +357 99274032.</p>

{% endblock %}
